@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap');
.aula-cores__escrita 
    {
        color:rgb(50, 53, 52);
        font-family: Roboto;
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
        line-height: 1;
    }
.aula-cores__tag-p 
    {
        color: rgb(181, 47, 255);
    }
.aula-cores__tag-p span:nth-child(1)
    {
        text-decoration: line-through;
    }
.aula-cores__tag-p span:nth-child(2)
    {
        text-decoration: underline;
    }
.aula-cores__hex 
    {
        color: #51FF79;
    }  
.aula-cores__rgba 
    {
        color: rgba(0, 0, 255, 0.5);
        background: red;
    }
.aula-texto__text
    {
        text-align: center;
        text-transform: uppercase;
        white-space: normal;
        word-break: break-word;
    }
.aula-texto__text::first-letter
    {
        color: red;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
